*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.list{
    display: flex;
    margin-top: 27px;
}
.list_item{
font-weight: 500;
font-size: 20px;
line-height: 29px;
margin-left: 33px;
text-align: right;
color: #000000;
cursor: pointer;
}
.aa{
    text-decoration: none;
    color: #000000;
}

.des{
font-weight: 700;
font-size: 44px;
line-height: 60px;
color: #21243D;
padding-top: 106px;
}
.y20{
    width: 62px;
height: 25px;
background: #FF7C7C;
border-radius: 16px;
margin-top: 32px;
text-align: center;
color: white;
}
.dash{
font-weight: 400;
font-size: 20px;
line-height: 29px;
color: #21243D;
margin-left: 17px;
margin-top: 30px;
}
.divv{
    display: flex;
}
.amet{
font-weight: 400;
font-size: 16px;
line-height: 24px;
padding-top: 23px;
color: #000000;
}
.back{
    margin-top: 27px;
    width: 40%;
}
.he{
font-weight: 500;
margin-top: 54px;
font-size: 30px;
line-height: 60px;
color: #21243D;
}
.hea{
font-weight: 500;
font-size: 24px;
line-height: 60px;
color: #21243D;
}
.fa-brands{
    height: 35px;
    width: 35px;
}
.listt{
    display: flex;
    margin-top: 134px;
}
.co{
font-weight: 400;
font-size: 14px;
line-height: 21px;
text-align: center;
color: #21243D;
}
.btn-primary{
    width: 100%;
}

textarea{
    width: 100%;
    outline: none;
}
.m{
    border-bottom: 2px solid black;
}







@media (max-width : 575px){
    .list{
        display: flex;
        justify-content: center;
    }
    .des{
font-weight: 700;
font-size: 30px;
line-height: 40px;
padding-top: 47px;
color: #21243D;
    }
    .y20{
font-weight: 900;
font-size: 18px;
line-height: 60px;
display: flex;
align-items: center;
color: #FFFFFF;
padding-left: 10px;
    }
    .dash {
        font-weight: 400;
        font-size: 19px;
        line-height: 26px;
        color: #21243D;
    }
    .amet{
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #000000;
    }
    .back1{
        width: 100%;
    }
    .back{
        width: 100%;
    }
    .he {
        font-weight: 500;
        margin-top: 21px;
        font-size: 27px;
        line-height: 60px;
        color: #21243D;
    }
    .hea {
        font-weight: 500;
        font-size: 21px;
        line-height: 60px;
        color: #21243D;
    }
}